<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".InfoActivity" />
        <activity android:name=".TouchActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".ToolbarActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".CalculatorActivity" />
        <activity
            android:name=".WeatherActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ActivityDeomActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->


            <!-- <data -->
            <!-- android:host="edu.niit.android.demo" -->
            <!-- android:path="/target" -->
            <!-- android:port="8888" -->
            <!-- android:scheme="niit" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".IntentActivity" />
        <activity android:name=".FSJActivity" />
        <activity android:name=".FSJQuestionActivity" />
        <activity
            android:name=".fragment.WeixinActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>